.sect {
    padding-top: 15px;
}

#exp {
    line-height: 101%;
    width: 715px;
}

#exp .sect {

}

#exp .sp {
    padding-top: 8px;
}

#leftcolumn {
    float: left;
    width: 220px;
}

#leftcolumn #logo {
    width: 220px;
}

#leftcolumn #skills {
    padding-top: 187px;
    width: 210px;
}

#leftcolumn #skills .pbot {
    padding-bottom: 14px;
}

#research {
    width: 720px;
}

#exp .sect2 {
    padding-top: 25px;
}

#exp .sp2 {
    padding-top: 12px;
}

#rightcolumn {
    display: inline-block;
    float: left;
    width: 800px;
}

#rightcolumn #edu {
    line-height: 110%;
    padding-bottom: 24px;
}

#head {
    padding-top: 25px;
    width: 800px;
    height: auto;
    padding-bottom: 3px;
    display: inline-block;
}

#info {
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 120%;
    padding-left: 20px;
}

#name {
    float: left;
    padding-bottom: 0;
    width: 440px;
}

#fname {
    padding-top: 3px;
    font-size: 28pt;
    font-weight: 700;
}

#tag {
    font-size: 16pt;
    line-height: 110%;
}

body {
    font-family: Century Gothic, arial, sans-serif;
    font-size: 16px;
    width: 1024px;
}

* .iline {
    display: inline;
}

* .sect {
    font-size: 18pt;
    font-weight: 700;
}

.dent {
    text-indent: 20px each-line;
}

.tint {
    color: #283654;
}

footer {
    clear: both;
    height: 50px;
}

footer a {
    color: black;
}

.line {
    border-bottom: 1px solid #e5e5e5;
}

.line {
    border-left: 1px solid #e5e5e5;
}

.accordion {
    margin-bottom: 18px;
}

.accordion-group {}

.accordion-heading {
    //border-bottom: 0;
}

.accordion-heading .accordion-toggle {
    display: block;
}

.accordion-toggle {
    //cursor: pointer;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 0.5cm;
    }
    .no-print,
    .no-print * {
        display: none !important;
    }
}